<div id="roadmap" class="roadmap callout callout-banner"></div>

<h2 class="light">Milestones</h2>

<div id="milestones_view">
  <form class="freight_train" data-model="Milestone">
    <ol id="milestones">
      <li class="ui-state-highlight"></li>
    </ol>
  </form>
</div>
