<div id="roadmap" class="roadmap callout callout-banner"></div>

<div>
  <h2 class="light">Milestones</h2>

  <a class="btn" id="show_completed_milestones" data-toggle="button">Show Completed Milestones</a>

  <span class="buttons" style="float: right; margin-top: 30.5px">
    <button id="reset_roadmap" class="btn">Reset</button>
    <button id="save_roadmap" class="btn btn-primary">Save</button>
  </span>
<div>

<hr/>

<div id="milestones_view">
  <form class="freight_train" data-model="Milestone">
    <table class="table table-roadmap-milestones">
      <thead>
        <th class="milestone-name">Name</th>
        <th class="milestone-startDate">Starts</th>
        <th class="milestone-duration">Duration</th>
        <th class="milestone-lanes">Lanes</th>
        <th class="milestone-tickets">Tickets</th>
        <th class="milestone-completion">Completed</th>
        <th class="milestone-locked">Locked</th>
      </thead>
      <tbody id="milestones"></tbody>
    </table>
  </form>
</div>
