<div id="graph" class="roadmap shaded-chart"></div>

<h2 class="light">Milestones</h2>

<div id="milestones_view">
  <form class="freight_train" data-model="Milestone">
    <ol id="milestones">
      <li class="ui-state-highlight"></li>
    </ol>
  </form>

  <div class="new-milestone-form">
    <a class="new-milestone" id="new_milestone"><i class="fa fa-plus"></i> Add Milestone</a>
    <form id="new_milestone_form">
      <input type="text" name="milestone[name]" placeholder="New Milestone" id="new_milestone_name" />
      <button id="create_new_milestone_button" class="btn btn-primary" type="submit">Create</button>
      <button id="cancel_new_milestone_button" class="btn" type="reset">Cancel</button>
    </form>
  </div>
</div>
