<span class="milestone-name"><a href="/roadmap/milestones/{{id}}">{{name}}</a></span>
<span class="milestone-tickets">{{tickets}}</span>
<span class="milestone-size">{{durationOfMilestone this}}</span>
