#find_or_create_ticket {
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  margin-bottom: 0;
  padding: 0.5em 1em;
}

#milestone_view {
  #show_completed_tickets { margin-bottom: 12px; }
  &.hide-completed .ticket-closed { display: none; }
}

.ui-sortable tr.ticket {
  &:hover td { background-color: rgba(128, 212, 255, 0.1); }
}
.table .ui-sortable-helper td { border-bottom: none; background: white; }

td.ticket-handle {
  background-image: url(/images/drag-grip.png);
  background-repeat: no-repeat;
  background-position: 9px 8px;
  cursor: pointer;
  width: 6px;
}

td.ticket-status { white-space: nowrap; }

td, th {
  &.ticket-number, &.ticket-effort { text-align: right; }
}

.milestone-progress { float: right; }
