#add_ticket {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  margin-bottom: 0;
  padding: 0.5em 1em;
}
#add_ticket_form .fa-spinner { display: none; }
#add_ticket_form.loading .fa-spinner { display: inline-block; }

#milestone_view {
  &.hide-completed .ticket-closed { display: none; }
}

.ui-sortable tr.ticket {
  &:hover td { background-color: rgba(128, 212, 255, 0.1); }
}
.table .ui-sortable-helper td { border-bottom: none; background: white; }

td.ticket-handle {
  background-image: url(/images/drag-grip.png);
  background-repeat: no-repeat;
  background-position: 9px 8px;
  cursor: pointer;
  width: 6px;
}
td.ticket-status {
  white-space: nowrap;
}
td.ticket-number, th.ticket-number { text-align: right; }

.milestone-progress { float: right; }
