.milestone {
  &.neat-interactive:hover td {
    background-color: rgba(128, 212, 255, 0.1);
    cursor: pointer;
  }
  
  td { 
    padding: 4px 8px;
    border-bottom: 0;
  }
  
  .milestone-name {
    input {
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      height: 30px;
    }
  }
  
  &.inactive .milestone-name a { display: block; }
  
  .milestone-duration, .milestone-tickets { text-align: right; }
  .milestone-tickets.zero { color: #ccc; }
  .milestone-locked { text-align: center; width: 2.25em; }
  .milestone-completion { text-align: right; width: 2.5em; }
  .milestone-startDate { font-size: 0.84em; }
  
  .fa-unlock-alt { color: #ccc; }
}

th.milestone-startDate, th.milestone-tickets, th.milestone-duration { text-align: right; }
th.milestone-locked { text-align: center; width: 2.25em; }
th.milestone-completion { text-align: right; width: 2.5em; }

#roadmap_view {
  #show_completed_milestones { margin-bottom: 12px; }
  &.hide-completed .completed { display: none; }
}

form.freight_train { margin-bottom: 0; }



#roadmap {
  position: relative;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  &.drag-create {
    cursor: ew-resize;
    cursor: col-resize;
  }
  
  .roadmap-axis {
    position: absolute;
    bottom: 2em;
  }
}

.roadmap-band {
  position: relative;
  height: 30px;
  margin: 8px 0;

  &.sort-active {
    &::before {
      content: '.';
      color: transparent;
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      background: #f8f8f8;
      box-shadow: inset 0 0 3px #ccc;
    }
  }
}

body.dashboard {
  .roadmap-band {
    margin: 4px 0;
    height: 40px;
  }
  
  .roadmap-milestone {
    background: black;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    
    &::before { display: none; }
  }
}

@-webkit-keyframes progress
{
to {background-position: 30px 0;}
}
@-moz-keyframes progress
{
to {background-position: 30px 0;}
}

@keyframes progress
{
to {background-position: 30px 0;}
}

.roadmap-milestone, .roadmap-milestone-placeholder {
  position: absolute;
  border: 1px solid #ccc;
  background: #ddd;
  border-radius: 2px;
  text-align: center;
  cursor: default;
  padding: 4px 8px 4px 10px;
  box-sizing: border-box;
  z-index: 2;
  
  &.unlocked {
    border: 2px dashed #ccc;
    background: #e4e4e4;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    
    &::before {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  
  &::before {
    content: '.';
    color: transparent;
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 5px;
  }
}

.roadmap-milestone > span {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.roadmap-milestone {
  display: block;
  color: inherit;
  cursor: pointer;
  
  &:hover {
    text-decoration: none;
    background: #DBEBEC;
    border-color: #C3DBDD;
  }
  
  &.unlocked:hover {
    background: #E3EDEE;
  }
}

.roadmap-milestone-placeholder {
  cursor: col-resize;
  
  &.creating {
    background: #d8d8d8;
    -webkit-animation: progress 1s linear infinite;
    animation: progress 1s linear infinite;
    background-size: 30px 30px;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.20) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.20) 50%, rgba(255, 255, 255, 0.20) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.20) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.20) 50%, rgba(255, 255, 255, 0.20) 75%, transparent 75%, transparent);
  }
}
  
.roadmap-milestone {
  .ui-resizable-e {
    cursor: ew-resize;
    cursor: col-resize;
    width: 14px;
  }
  
  &.ui-resizable-resizing {
    z-index: 10;
  }
}

.roadmap-thumbnail {
  margin-bottom: 16px;
  
  .axis text { font-size: 11px; }
  .roadmap-thumbnail-band { fill: rgba(0,0,0,0.1); }
}

.roadmap-thumbnail-viewer {
  position: absolute;
  background: rgba(0, 0, 40, 0.1);
  border: 1px solid black;
}

.roadmap-bands {
  position: relative;
  padding: 8px 0 52px;
}

.roadmap-today {
  position: absolute;
  top: 1px;
  bottom: 52px;
  width: 1px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.roadmap-weekend {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 1px;
  bottom: 52px;
}
