<form class="modal" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New Milestone</h3>
  </div>
  <div class="modal-body">
    <label for="milestone_name">Name</label>
    <input id="milestone_name" type="text" name="name" autocomplete="off"/>

    <label for="milestone_project_id">Project</label>
    <div style="float: right; width: 280px; font-size: 0.96em; line-height: 1.33em; color: #555;">
      Don't see the project you're looking for? Make sure the <b>Goals</b> feature is turned on in Project Settings.
    </div>
    <select id="milestone_project_id" name="project_id">
      {{#each projects}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="modal-footer">
    <button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" id="create_milestone_button" class="btn btn-primary">Create</button>
  </div>
</form>
