<% content_for :title do %>
<h1 class="project-banner space-below">
  Roadmap
  
  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div id="roadmap"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var milestones = <%= raw Houston::Roadmaps::MilestonePresenter.new(@milestones).to_json %>;
    Roadmaps.milestones = new Roadmaps.Milestones(milestones, {parse: true});
    new Roadmaps.ShowRoadmapView({
      milestones: Roadmaps.milestones,
      markers: <%=raw @markers.to_json %>,
      linkMilestones: true
    }).render();
  });
</script>
<% end %>
