<h1>Current Goals</h1>

<div id="roadmap"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    Roadmap.milestones = new Roadmap.Milestones(<%= raw Houston::Roadmap::MilestonePresenter.new(@milestones).to_json %>, {parse: true});
    
    view = new Roadmap.ShowRoadmapView({
      milestones: Roadmap.milestones,
      showToday: false,
      showThumbnail: false,
      viewport: new Roadmap.Viewport({
        start: Roadmap.milestones.start(),
        end: Roadmap.milestones.end()
      })
    });
    
    view.render();
    
    new Refresher()
      .container('#container')
      .interval(45 * Duration.MINUTE)
      .callback(function() {
        $.getJSON(window.location.path, function(milestones) {
          Roadmap.milestones.reset(milestones, {parse: true});
        });
      }).render();
  });
</script>
<% end %>
