<% content_for :title do %>
<h1 class="project-banner space-below">
  Roadmap
  
  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div id="roadmap"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var milestones = <%= raw Houston::Roadmap::MilestonePresenter.new(@milestones).to_json %>;
    Roadmap.milestones = new Roadmap.Milestones(milestones, {parse: true});
    new Roadmap.ShowRoadmapView({
      milestones: Roadmap.milestones,
      linkMilestones: true
    }).render();
  });
</script>
<% end %>
