.goal {
  &.neat-interactive:hover td {
    background-color: rgba(128, 212, 255, 0.1);
    cursor: pointer;
  }

  td {
    padding: 4px 8px;
    border-bottom: 0;
  }

  .goal-name {
    input {
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      height: 30px;
    }
  }
}

.todolist {
  line-height: 28px;
  height: 28px;
  padding: 10px;

  .progress-pie {
    display: inline-block;
    vertical-align: top;
  }

  .fraction {
    display: inline-block;
    vertical-align: top;
    width: 3em;
    text-align: center;

    .divisor {
      font-size: 10px;
      position: relative;
      top: -3px;
    }

    .dividend {
      font-size: 10px;
      position: relative;
      top: 3px;
    }
  }

  .todolist-name {
    font-weight: 500;
  }
}

.todolist + .todolist {
  border-top: 1px solid #e8e8e8;
}

.dropdown-menu > li.todolist-archived > a {
  &::after { content: ' (archived)'; }
  &:not(:hover) { color: #999999; }
}
