$roadmap-padding: 1.33em;

.callout.roadmap {
  padding-left: 0;
  padding-right: 0;
  border-top: 0;
  padding-top: 0;
  padding-bottom: $roadmap-padding;
}


#roadmap {
  position: relative;
  overflow: hidden; // so the roadmap can't be scrolled left and right
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.dragging {
    overflow: visible; // so we can see the milestone being dragged down to goals
  }

  &.drag-create {
    cursor: ew-resize;
    cursor: col-resize;
  }

  .roadmap-axis {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.roadmap-band {
  position: relative;

  &.sort-active {
    &::before {
      content: '.';
      color: transparent;
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      background: #f8f8f8;
      box-shadow: inset 0 0 3px #ccc;
    }
  }
}

body.dashboard {
  .roadmap-band {
    margin: 4px 0;
    height: 34px;
  }

  .roadmap-milestone {
    background: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    padding: 0;
    display: flex;

    & > span {
      -webkit-font-smoothing: antialiased;
      white-space: normal;

      display: block;
      overflow: hidden;
      max-height: 100%;

      align-self: center;

      box-sizing: border-box;
      padding-bottom: 2px; // makes it look vertically centered ¯\_(ツ)_/¯
    }

    &::before { display: none; }
  }

  .roadmap-marker, .roadmap-today {
    background: rgba(255, 255, 255, 0.15);
    width: 3px;
  }
}

@-webkit-keyframes progress
{
to {background-position: 30px 0;}
}
@-moz-keyframes progress
{
to {background-position: 30px 0;}
}

@keyframes progress
{
to {background-position: 30px 0;}
}

.roadmap-milestone, .roadmap-milestone-placeholder {
  position: absolute;
  border: 1px solid #ccc;
  background: #ddd;
  border-radius: 2px;
  text-align: center;
  cursor: default;
  padding: 4px 2px 4px 8px;
  box-sizing: border-box;
  z-index: 2;

  &.unlocked {
    border: 2px dashed #ccc;
    background: #e4e4e4;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;

    &::before {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &::before {
    content: '.';
    color: transparent;
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 5px;
  }
}

rect.roadmap-thumbnail-milestone.completed { opacity: 0.5; }

.roadmap-milestone > span {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.roadmap-milestone {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body:not(.dashboard) {
  .roadmap-milestone {
    &.clickable:hover {
      background: #DAE7EA;
      color: #254a53;
      border-color: #BACFD4;

      &::before {
        background: #89A6AD !important;
      }
    }
  }
}

.roadmap-milestone:focus {
  outline: 0;
}

.roadmap-milestone.dropdown-open {
  background: #d3e4e8;
  color: #254a53;
  border-color: #5b7a82;
}

.roadmap-milestone-placeholder {
  cursor: col-resize;

  &.creating {
    background: #d8d8d8;
    -webkit-animation: progress 1s linear infinite;
    animation: progress 1s linear infinite;
    background-size: 30px 30px;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.20) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.20) 50%, rgba(255, 255, 255, 0.20) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.20) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.20) 50%, rgba(255, 255, 255, 0.20) 75%, transparent 75%, transparent);
  }
}

.roadmap-milestone {
  .ui-resizable-e {
    cursor: ew-resize;
    cursor: col-resize;
    width: 14px;
  }

  .ui-resizable-s {
    cursor: ns-resize;
    cursor: row-resize;
  }

  .ui-resizable-se {
    right: -2px;
    bottom: -2px;
    height: 16px;
    width: 16px;
    background: none;
  }

  &.locked .ui-resizable-handle { display: none; }

  &.ui-resizable-resizing {
    z-index: 10;
  }
}

.roadmap-milestone-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.roadmap-thumbnail {
  margin-bottom: $roadmap-padding;

  svg { width: 100%; }
  .axis text { font-size: 11px; }
  .roadmap-thumbnail-band { fill: rgba(0,0,0,0.1); }
}

.roadmap-thumbnail-viewer {
  position: absolute;
  background: rgba(0, 0, 40, 0.1);
  border: 1px solid black;
}

.roadmap-bands {
  position: relative;
  padding: 1px 0 24px;
}

.roadmap-marker, .roadmap-today {
  position: absolute;
  top: 0;
  bottom: 24px;
  width: 2px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.roadmap-weekend {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 1px;
  bottom: 24px;
}

#goals_view {
  position: fixed;
  border-top: 2px solid;
  bottom: 46px;
  left: 0;
  right: 0;
  padding: 0 20px;
  overflow-y: scroll;

  .goal-project {
    width: 9em;
  }
}
