ol#roadmaps {
  margin: 0;
}

li.roadmap {
  display: block;

  > a {
    display: block;
    padding: 6px 12px;
    border-radius: 4px;

    &:hover {
      background-color: #EDF9FF;
      text-decoration: none;

      .roadmap-empty {
        color: #b6c2c7;
      }
    }
  }

  .roadmap-summary {
    padding: 6px 0 0 4px;
    vertical-align: top;
    display: inline-block;
    line-height: 1;
    width: 20%;

    .roadmap-team {
      font-size: 0.75em;
      font-weight: 600;
      color: #a0a0a0;
    }
  }

  .roadmap-name {
    color: #555;
    font-size: 1.25em;
    font-weight: 500;
  }

  .roadmap-empty {
    display: block;
    padding: 5px 0px 0 0;
    color: #d0d0d0;
    font-style: italic;
  }

  .roadmap-preview {
    position: relative;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: inline-block;
    width: 75%;

    .roadmap-bands {
      padding-top: 4px;
    }

    .roadmap-axis {
      position: absolute;
      bottom: 0;
      width: 100%;

      text {
        font-size: 10px;
      }
    }

    .roadmap-milestone {
      border: none;

      &::before {
        width: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1px;
      }
      .roadmap-milestone-name { display: none; }
    }
  }
}
