<form>
  <table class="table table-sortable table-roadmap-goals">
    <thead>
      <th class="goal-name">Name</th>
      <td class="goal-roadmapped"></td>
    </thead>
    <tbody id="goals"></tbody>
  </table>
</form>
