<div id="roadmap" class="roadmap callout callout-banner"></div>

<div id="goals_view">
  <table class="table table-roadmap-goals">
    <thead>
      <th class="goal-project">Project</th>
      <th class="goal-name">Name</th>
    </thead>
    <tbody id="goals">
    </tbody>
  </table>
</div>
