<li class="roadmap" id="roadmap_{{id}}">
  <a href="/roadmaps/{{id}}">
    <div class="roadmap-summary">
      <div class="roadmap-name">{{name}}</div>
      {{#teams}}
        <span class="roadmap-team">{{name}}</span>
      {{/teams}}
    </div>
    <div class="roadmap-preview"></div>
  </a>
</li>
