<li class="roadmap" id="roadmap_{{id}}">
  <a href="/roadmaps/{{id}}">
    <div class="roadmap-summary">
      <div class="roadmap-name">{{name}}</div>
      {{#projects}}
        <b class="bubble {{color}}"></b>
      {{/projects}}
    </div>
    <div class="roadmap-preview"></div>
  </a>
</li>
